Magic 271485
Revision 5.4v9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -8 -8 1552 840 202 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "F:\Files\courses\Digital_IC\hw\prj\ IF_tb.vcd" "F:\Files\courses\Digital_IC\hw\prj\ IF_tb.vcd.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 65000.000000
cursor 26000.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 21

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "F:\Files\courses\Digital_IC\hw\prj\ IF_tb.vcd.fsdb"
addSignal -h 15 /IF_tb/tb_clk
addSignal -h 15 -holdScope tb_r_clk
addSignal -h 15 -holdScope tb_rst_n
addSignal -h 15 -UNSIGNED -UDEC -holdScope tb_PCSrc[1:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope tb_ALUOut[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope tb_ALU_res[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope tb_inst[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope tb_pc[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope tb_pc_incr[63:0]
addGroup "G2"
addSignal -h 15 /IF_tb/IF_TB/clk
addSignal -h 15 -holdScope r_clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -UNSIGNED -HEX -holdScope i
addSignal -h 15 -UNSIGNED -UDEC -holdScope ALUOut[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope ALU_res[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope PCSrc[1:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope pc[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope pc_incr[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope pc_new[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope inst[31:0]
addGroup "G3"
addGroup "G4"

; grid status
; gridSignal signal_name
; gridEdge 0 | 1
; gridCount
; gridCycleTime from to cycleTime

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

